@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,700');
html,
body {
  height: 100%;
}
html {
  background:-webkit-radial-gradient(ellipse farthest-side at center center, rgb(35, 159, 68) 0%, rgb(10, 98, 31) 80%);
  background:-o-radial-gradient(ellipse farthest-side at center center, rgb(35, 159, 68) 0%, rgb(10, 98, 31) 80%);
  background:-moz-radial-gradient(ellipse farthest-side at center center, rgb(35, 159, 68) 0%, rgb(10, 98, 31) 80%);
  background:radial-gradient(ellipse farthest-side at center center, rgb(35, 159, 68) 0%, rgb(10, 98, 31) 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #FFF;
}

body {
  background-color: transparent !important;
  background: url(images/table.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 60%;
  display: -ms-flexbox;
  display: flex;
  height:100%;
}


.game-container {
  max-width: 48em;
  min-height:100%;
  color: #FFF;
  font-family: 'Alegreya SC', serif;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}
.mastfoot {
  margin-bottom: 0;
}
.points {
  font-size: 3rem;
  line-height: 1;
  height: 4rem;
  padding: 0;
}
.hand {
	padding: .2rem;
  height: 11rem;
}

.hand label {
	float: left;
	margin: 0 5px;
}

.hand img {
	width: 4.3rem;
	display: block;
	float: left;
	margin-left: .3rem;
}
#messages {
	font-size: 2.7em;
	font-weight: 700;
	margin-bottom: .7rem;
	height: 4rem;
}
